body { 
    padding-bottom: 70px; 
}

.container-main {
    padding-left: 10px;
    padding-right: 10px
}

.brand-img {
    padding: 4.5px;
}

a.brand-link {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer
}

.row {
    padding-top: 15px
}

.footer {
    position: relative;
    clear:both;
    font-size: 0.9em; 
    color: #aaa; 
    padding: 10px; 
    background:#fff;

    text-align: center;
}

.footer a {
    color: #aaa; 
    text-decoration: none;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.tooltip{
    font-size:11px;
}

.tooltip.in{
    opacity:.8;
}

a.none {
    text-decoration: none;
}

a.cursor{
    cursor: pointer;
}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.counter{
    text-align: center;
}
